
<div class="brief-card">
    <div class="brief-card__country-name">
        <b class="brief-card__key">country name</b> : <span class="brief-card__value">{{country}}</span></div>
    <div class="brief-card__capital"><b class="brief-card__key">capital</b> : <span class="brief-card__value">{{capital}}</span></div>
    <div class="brief-card__population"><b class="brief-card__key">population</b> : <span class="brief-card__value">{{population}}</span></div>
    <ul class="brief-card__languages">
        {{#each languages}}
            <li>{{this}}</li>
        {{/each}}  
    </ul>
    <img src="{{flag}}" alt="flag of {{name}}" class="brief-card__flag">
</div>